.card-brand
  padding 15px 25px
  background-color #F7F7F7
  border-radius 8px
  color #000

  +$mobile-only()
    padding 10px 15px

  .card-heading
    float left
    padding-bottom 5px
    border-bottom 1px solid rgba(0,0,0,.6)
    font-weight bold
    text-transform uppercase
    letter-spacing 2px !important

  &:hover
    box-shadow 0 2px 4px 0 rgba(0,0,0,0.05)

.cards-float
  .wrapper-card
    float left
    width 48%

    +$mobile-only()
      width 100%
      margin-right 0

    &:nth-child(odd)
      margin-right 4%
