*:not(.material-icons)
  font-family: 'Roboto', Helvetica, Arial, sans-serif
  letter-spacing .5px

h1, h2, h3
  letter-spacing 1px !important


#app
  .content
    p
      font-size 18px
      line-height 1.66
      color #2B2B2B

      &:not(:last-child)
        margin-bottom .5em

  .fs18
    font-size: 18px

.f-medium
  font-weight 500
