#app
  .mbs
    margin-bottom 12px

  .mbm
    margin-bottom 25px

  .mbb
    margin-bottom 40px

  .mr
    margin-right 20px

  .mtb
    margin-top 40px

  .mt50
    margin-top 50px

  .mts
    margin-top 12px

  .mt5
    margin-top 5px

  .mb20
    margin-bottom 20px

  .mb0
    margin-bottom 0
